<% @page_title = "Sign in - Campsite" %>

<main class="outer-container">
  <div class="inner-container">
    <div class="page-title-container">
      <svg width="49" height="20" viewBox="0 0 49 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.201982 21.9532L13.7942 0.654571C14.0531 0.248924 14.5245 0 15.0338 0H37.1765C38.2907 0 38.9824 1.12038 38.4161 2.00776L24.8238 23.3064C24.565 23.7121 24.0936 23.961 23.5843 23.961H1.44157C0.327401 23.961 -0.364321 22.8406 0.201982 21.9532Z" fill="currentColor"/>
        <path d="M32.0309 23.9609H47.4978C48.5832 23.9609 49.2781 22.8922 48.7691 22.0055L41.4653 9.28149C40.9386 8.36398 39.5292 8.33304 38.9561 9.22642L30.793 21.9505C30.2237 22.8378 30.9152 23.9609 32.0309 23.9609Z" fill="currentColor"/>
      </svg>

      <h2 class="page-title">Sign in</h2>

      <span class="w-full text-sm text-tertiary">
        Login to Mega with Github Now
      </span>
    </div>

    <%- if devise_mapping.omniauthable? %>

      <div class='flex flex-col w-full mt-8'>
        <template class="js-desktop-template">
          <input class="js-redirect-uri" type="hidden" name="redirect_uri" value="<%= user_desktop_omniauth_callback_url %>">
        </template>
        <%= form_tag omniauth_authorize_path(resource_name, :github), class: "js-github-oauth2" do %>
          <button type="submit" class="btn btn-secondary">
            <svg width="20" height="20" aria-hidden="true" viewBox="0 0 24 24" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
              <path d="M12 1C5.923 1 1 5.923 1 12c0 4.867 3.149 8.979 7.521 10.436.55.096.756-.233.756-.522 0-.262-.013-1.128-.013-2.049-2.764.509-3.479-.674-3.699-1.292-.124-.317-.66-1.293-1.127-1.554-.385-.207-.936-.715-.014-.729.866-.014 1.485.797 1.691 1.128.99 1.663 2.571 1.196 3.204.907.096-.715.385-1.196.701-1.471-2.448-.275-5.005-1.224-5.005-5.432 0-1.196.426-2.186 1.128-2.956-.111-.275-.496-1.402.11-2.915 0 0 .921-.288 3.024 1.128a10.193 10.193 0 0 1 2.75-.371c.936 0 1.871.123 2.75.371 2.104-1.43 3.025-1.128 3.025-1.128.605 1.513.221 2.64.111 2.915.701.77 1.127 1.747 1.127 2.956 0 4.222-2.571 5.157-5.019 5.432.399.344.743 1.004.743 2.035 0 1.471-.014 2.654-.014 3.025 0 .289.206.632.756.522C19.851 20.979 23 16.854 23 12c0-6.077-4.922-11-11-11Z"></path>
            </svg>
            <span>Continue with Github</span>
          </button>
        <% end %>
      </div>
    <% end %>

    <div class="divider">
      <span class="divider-label">or</span>
    </div>

    <%= form_for(resource, as: resource_name, url: user_session_path, html: { class: "w-full space-y-5" }) do |f| %>
      <%= render "users/shared/errors", resource: resource %>

      <span>账户密码登录功能仅供Demo，测试请使用Github登录</span>
      <div class="form-group">
        <%= f.label(:email) %>
        <%= f.email_field(:email, autofocus: true, autocomplete: "email", required: true) %>
      </div>

      <div class="form-group">
        <%= f.label(:password) %>
        <%= f.password_field(:password, autocomplete: "current-password", required: true, value: resource.password) %>
      </div>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-sm text-tertiary hover:text-primary inline-flex" %>
      <% end %>

      <%= f.button("Sign in", class: "btn btn-primary") %>
    <% end %>

  </div>
</main>
